# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Environment
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

output/

